[Desktop Entry]
Name=Geronticus eremita 4
Name[tr]=Geronticus eremita 4

X-KDE-PluginInfo-Name=Geronticus.eremita.4
X-KDE-PluginInfo-Author=Pardus Team
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

