[Desktop Entry]
Name=Pardus Mood
Name[tr]=Pardus Halet-i Ruhiye

X-KDE-PluginInfo-Name=Pardus_Mood
X-KDE-PluginInfo-Author=Gökmen Göksel
X-KDE-PluginInfo-Email=gokmen@pardus.org.tr
X-KDE-PluginInfo-License=LGPLv3
