[Desktop Entry]
Name=Nature 2
Name[tr]=Doğa 2

X-KDE-PluginInfo-Name=Doga2
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

