[Desktop Entry]
Name=Brick
Name[tr]=Duvar

X-KDE-PluginInfo-Name=Brick
X-KDE-PluginInfo-Author=Gökmen Göksel
X-KDE-PluginInfo-Email=gokmen@pardus.org.tr
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

