[Desktop Entry]
Name=Nature 6
Name[tr]=Doğa 6

X-KDE-PluginInfo-Name=Doga6
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

