[Desktop Entry]
Name=LLy
Name[tr]=LLy

X-KDE-PluginInfo-Name=Lly
X-KDE-PluginInfo-Author=Gökhan Özkan
X-KDE-PluginInfo-Email=gokhan@pardus.org.tr
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

