[Desktop Entry]
Name=Hasankeyf
Name[tr]=Hasankeyf

X-KDE-PluginInfo-Name=Hasankeyf
X-KDE-PluginInfo-Author=Mustafa Yılmaz
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=Copyright
