[Desktop Entry]
Name=Geronticus eremita
Name[tr]=Geronticus eremita

X-KDE-PluginInfo-Name=Geronticus.eremita
X-KDE-PluginInfo-Author=Kadir Söğüt
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

