[Desktop Entry]
Name=Nature 5
Name[tr]=Doğa 5

X-KDE-PluginInfo-Name=Doga5
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

