[Desktop Entry]
Name=Geronticus eremita 2
Name[tr]=Geronticus eremita 2

X-KDE-PluginInfo-Name=Geronticus.eremita.2
X-KDE-PluginInfo-Author=Kadir Söğüt
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

