[Desktop Entry]
Name=Anitkabir
Name[tr]=Anıtkabir

X-KDE-PluginInfo-Name=Anitkabir
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

