[Desktop Entry]
Name=Cervus elaphus
Name[tr]=Cervus elaphus

X-KDE-PluginInfo-Name=Cervus.elaphus
X-KDE-PluginInfo-Author=Böhringer Friedrich
X-KDE-PluginInfo-License=Creative Commons BY-SA 2.5

