[Desktop Entry]
Name=Nature 7
Name[tr]=Doğa 7

X-KDE-PluginInfo-Name=Doga7
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

