[GdmGreeterTheme]
Greeter=theme.xml
Name=Pardus Corporate 2
Description=Pardus Corporate 2 KDM Theme
Author=Ozan Çağlayan
Copyright=(c) 2011 BILGEM/UEKAE
Screenshot=screenshot.png
