[Desktop Entry]
Name=Nature 4
Name[tr]=Doğa 4

X-KDE-PluginInfo-Name=Doga4
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

