[Desktop Entry]
Name=Nature 1
Name[tr]=Doğa 1

X-KDE-PluginInfo-Name=Doga1
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

