[Desktop Entry]
Name=Anthropoides Virgo
Name[tr]=Anthropoides Virgo

X-KDE-PluginInfo-Name=Anthropoides.Virgo
X-KDE-PluginInfo-Author=Kazım Çapacı
X-KDE-PluginInfo-Email=kazim.capaci@ege.edu.tr
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

