[Desktop Entry]
Name=Istanbul 1
Name[tr]=Istanbul 1

X-KDE-PluginInfo-Name=Istanbul1
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

