[Desktop Entry]
Name=LLy 3
Name[tr]=LLy 3

X-KDE-PluginInfo-Name=Lly3
X-KDE-PluginInfo-Author=Gökhan Özkan
X-KDE-PluginInfo-Email=gokhan@pardus.org.tr
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

