[Desktop Entry]
Name=Istanbul 3
Name[tr]=Istanbul 3

X-KDE-PluginInfo-Name=Istanbul3
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

