[Desktop Entry]
Name=Nature 3
Name[tr]=Doğa 3

X-KDE-PluginInfo-Name=Doga3
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

