[Desktop Entry]
Name=Dama dama

X-KDE-PluginInfo-Name=Dama.Dama
X-KDE-PluginInfo-Author=Nevit Dilmen
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-License=Creative Commons BY-SA 3.0
