[Desktop Entry]
Name=Geronticus eremita 3
Name[tr]=Geronticus eremita 3

X-KDE-PluginInfo-Name=Geronticus.eremita.3
X-KDE-PluginInfo-Author=Mustafa Sözen
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

