[Desktop Entry]
Name=Istanbul 2
Name[tr]=Istanbul 2

X-KDE-PluginInfo-Name=Istanbul2
X-KDE-PluginInfo-Author=Cihan İncebel
X-KDE-PluginInfo-Email=cihanin@gmail.com
X-KDE-PluginInfo-License=Creative Commons BY-NC-ND

